/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
*.map
.idea
.idea/*
.env
public/build
public/uploads

.DS_Store

sftp-config.json
sftp-config-*.json
sftp-config-alt.json
sftp-config-alt2.json

phploy.ini
