@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
#banner {
  background-color: rgba(214, 33, 16, 0.75);
  border-bottom: 2px solid rgba(139, 0, 0, 0.75);
  padding: 1% 0 1% 2%;
}

#banner #spanFloatleft {
  float: left;
}

#banner h2 {
  margin: 10px;
  text-shadow: 1px 1px 1px black;
}

#banner h2 #titreNomLigue {
  color: white;
  text-decoration: none;
  font-family: Calibri;
}

#banner #saisonsDropdownMenu {
  list-style-type: none;
  margin: 0;
  vertical-align: bottom;
  padding-left: 0;
}

#banner #saisonsDropdownMenu #titreSaisons {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: small;
  vertical-align: bottom;
}

#banner #saisonsDropdownMenu #dropdownMenu {
  color: black;
}

#banner #saisonsDropdownMenu a {
  font-size: small;
}

#banner #logoutDropdownMenu {
  list-style-type: none;
  margin: 0;
  vertical-align: bottom;
  padding-left: 0;
}

#banner #logoutDropdownMenu #prenom_nom {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: small;
  vertical-align: bottom;
}

#banner #logoutDropdownMenu #dropdownMenu {
  color: black;
}

#banner #logoutDropdownMenu a {
  font-size: small;
}

#banner #logoutDropdownMenu #bouton_profil_joueur {
  font-size: small;
  color: black;
  width: 100%;
  border: none;
  background-color: white;
  padding: 3px 20px 3px 20px;
  border-radius: 0;
  text-align: left;
}

#banner #logoutDropdownMenu #bouton_profil_joueur:hover {
  background-color: #f1f1f1;
}

#banner #logoutDropdownMenu ul a:hover {
  background-color: #f1f1f1;
}

#banner #logoutDropdownMenu #bouton_fermer_profil_joueur {
  background-color: #d2d2d2;
}

#banner #bouton_contact {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: small;
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
  padding: 0.5% 1.5% 0.5% 1.5%;
}

html, body {
  height: 100%;
}

.alert {
  margin-bottom: 0;
}

.logoEquipe img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 30, 0.8);
  overflow: hidden;
}

#effectifsEquipes span.label {
  padding-top: 4px;
}

#content {
  font-size: small;
  height: 100%;
}

#content > div:first-child {
  height: 100%;
}

#content a.btn, #content button {
  color: black;
  font-size: small;
  border-radius: 0px;
  background-color: #d2d2d2;
  border-color: #c2c2c2;
  padding: 0.5% 1.5% 0.5% 1.5%;
  transition: .2s all ease;
}

#content a.btn:hover, #content button:hover {
  background-color: #aeaeae;
}

#content #effectifsEquipes button {
  color: #337ab7;
  border: none;
  background: none;
}

#content .modal-inside .modal-dialog {
  width: 70%;
}

#content #espace_ligue {
  padding: 1% 0 0 4%;
  height: 100%;
}

#content #espace_ligue #menu {
  padding: 1% 0 2% 0;
}

#content #espace_ligue #classement {
  margin-top: 2%;
  padding-right: 2%;
}

#content #espace_ligue #classement #motClassement {
  font-weight: bold;
}

#content #espace_ligue #classement #motsEntetes {
  color: darkred;
  font-weight: bold;
}

#content #espace_ligue #classement #motsEntetes td {
  padding: 15px 5px 15px 5px;
}

#content #espace_ligue #classement #trChaqueEquipe td {
  border-bottom: 1px solid darkslategrey;
  padding: 15px 5px 15px 5px;
  text-align: center;
  background: #cecece;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cecece, #f7f7f7);
  /* Standard syntax (must be last) */
}

#content #espace_ligue #classement #trChaqueEquipe #equipe1 {
  text-align: right;
}

#content #espace_ligue #classement #trChaqueEquipe #equipe2 {
  text-align: left;
}

#content #espace_ligue #classement #trChaqueEquipe:nth-child(even) td {
  border-bottom: 1px solid darkslategrey;
  padding: 15px 5px 15px 5px;
  text-align: center;
  background: #f74e3e;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f74e3e, rgba(247, 78, 62, 0.73));
  /* Standard syntax (must be last) */
}

#content #espace_ligue #classement #trChaqueEquipe:nth-child(even) #equipe1 {
  text-align: right;
}

#content #espace_ligue #classement #trChaqueEquipe:nth-child(even) #equipe2 {
  text-align: left;
}

#content #espace_ligue #calendrier {
  margin-top: 2%;
  padding-right: 2%;
}

#content #espace_ligue #calendrier #motCalendrier {
  font-weight: bold;
}

#content #espace_ligue #calendrier #lieu {
  color: darkred;
  font-weight: bold;
  padding: 15px 5px 15px 0px;
}

#content #espace_ligue #calendrier #trChaqueMatch td {
  border-bottom: 1px solid darkslategrey;
  padding: 15px 5px 15px 5px;
  background-color: #f1f1f1;
}

#content #espace_ligue #calendrier #trChaqueMatch #equipe1 {
  text-align: right;
}

#content #espace_ligue #calendrier #trChaqueMatch #equipe2 {
  text-align: left;
}

#content #espace_ligue #calendrier #trChaqueMatch:nth-child(even) td {
  border-bottom: 1px solid darkred;
  padding: 15px 5px 15px 5px;
  background-color: #4cb54c;
}

#content #espace_ligue #calendrier #trChaqueMatch:nth-child(even) #equipe1 {
  text-align: right;
}

#content #espace_ligue #calendrier #trChaqueMatch:nth-child(even) #equipe2 {
  text-align: left;
}

#content #espace_ligue #cadeaux {
  height: 100%;
  color: darkgreen;
  padding: 3% 3% 3% 3%;
  margin-top: 3%;
}

#content #espace_equipe {
  border-left: 2px solid green;
  background-color: #f1f1f1;
  height: 100%;
}

#content #espace_equipe span {
  float: left;
}

#content #espace_equipe span #nom_equipe {
  font-weight: bold;
}

#content #espace_equipe span #logoEquipe {
  padding: 10% 0 5% 0;
}

#content #espace_equipe span #logoEquipe img {
  max-width: 160px;
}

#content #espace_equipe #bouton_invitation,
#content #espace_equipe #bouton_updateCapitaine,
#content #espace_equipe #bouton_createNewTeam {
  margin: 1% 0 0 1%;
}

#content #espace_equipe label {
  font-weight: normal;
}

#content #espace_equipe #bouton_submit {
  padding: 0.5% 1.5% 0.5% 1.5%;
}

#content #espace_equipe #confirmation_invitation_amis_dans_equipe_envoyee {
  color: green;
}

#content #espace_equipe #dernierMatch td {
  border: 0 solid black;
  padding-right: 10px;
}

#content #espace_equipe #dernierMatch #tdChampsButs input {
  width: 50px;
}

#content #espace_equipe #prochainMatch td {
  border: 0 solid black;
  padding-right: 10px;
}

.watch-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.watch-card:hover .artist-title a, .watch-card:hover .listing-tab .tab-content ul li a {
  color: #167ac9;
}

.listing-tab .tab-content ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.artist-title {
  padding: 15px;
}

.artist-title a {
  test-decoration: none;
  font-size: 21px;
  font-family: arial, san-serif;
  color: #555;
}

.artist-title a:hover {
  color: #16a3de;
}

.artist-collage img {
  max-width: 100%;
  max-height: 150px;
}

.artist-collage {
  position: relative;
  max-height: 150px;
  overflow: hidden;
  text-align: center;
}

.artist-collage, .artist-collage div {
  padding: 0;
}

span.play-mix {
  position: absolute;
  top: 38%;
  z-index: 9;
  left: 30%;
  border: 3px solid rgba(255, 255, 255, 0.25);
}

span.btn.play-mix-btn {
  background-color: #000;
  padding: 5px 12px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 70px rgba(255, 255, 255, 0.5);
}

.collage-rhs img {
  margin-top: -5px;
}

span.play-mix-btn:hover {
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.9);
}

.listing-tab {
  padding: 0;
}

.related-artist .artist-next {
  padding-left: 0;
}

.related-artist .col-md-12 {
  padding-right: 0;
}

.play-mix-btn span {
  color: #1775bc;
}

.related-artist img {
  width: 100%;
}

.related-artist h3 {
  font-size: 17px;
  margin-left: 15px;
  margin-top: 9px;
}

.related-artist {
  overflow: hidden;
  padding-bottom: 10px;
}

.listing-tab .tab-content ul {
  padding: 0;
  margin: 0;
}

.listing-tab .tab-content ul li {
  list-style-type: none;
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.listing-tab .tab-content ul li {
  list-style-type: none;
  border-bottom: 1px solid #eee;
  padding: 8px;
  padding-left: 20px;
  font-size: 13px;
  color: #666;
}

.listing-tab .tab-content ul li a {
  text-decoration: none;
  color: #666;
}

.listing-tab .tab-content ul li span {
  display: inline-block;
  float: right;
  padding-right: 10px;
}

.listing-tab .nav-tabs > li, .nav-tabs > li a:hover {
  margin-bottom: 0;
  background: none;
}

.listing-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  background: none;
}

.listing-tab .nav-tabs > li > a:hover {
  border-color: none;
  color: red;
}

.listing-tab .nav-tabs > li > a {
  border: 0;
  padding: 17px 0 7px;
  color: #333;
  margin-left: 15px;
}

.listing-tab .nav-tabs > li.active > a {
  border-bottom: 2px solid #bb0000;
  color: #000;
}

.thumbnail {
  position: relative;
  overflow: hidden;
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  text-align: center;
  color: #fff !important;
  z-index: 2;
}

.artist-collage .thumbnail .caption {
  text-align: right;
}

.artist-collage .thumbnail .caption .label {
  font-size: 100%;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-300px, 0) scale(4);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

.fileupload {
  margin-bottom: 9px;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}

.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}

.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}

.fileupload .btn {
  vertical-align: middle;
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}

.table-editable {
  position: relative;
}

.table-editable .glyphicon {
  font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-remove:hover {
  color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}

.table-up:hover, .table-down:hover {
  color: #00f;
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

.table-add:hover {
  color: #0b0;
}

#encart_connexion {
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7%;
  text-align: center;
  width: auto;
}

#encart_connexion #titreConnexion {
  font-weight: bold;
}

#encart_connexion #contenu_encart_connexion {
  padding: 0;
}

#encart_connexion #contenu_encart_connexion #formulaire {
  margin: auto;
  width: 50%;
  padding: 1%;
}

#encart_connexion #contenu_encart_connexion #mdp_oublie {
  color: grey;
  margin: 0;
  padding: 0;
  border: 0;
}

#encart_connexion #contenu_encart_connexion #bouton_connexion {
  background-color: #545454;
  border-color: #545454;
}

#encart_connexion #contenu_encart_connexion #se_souvenir_de_moi {
  padding: 0;
  color: grey;
}

#bouton_inscription {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
}

#bouton_inscription a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  background-color: #f5f5f5;
}

#pvu {
  color: darkred;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.wrap-player-form {
  display: none;
}

/*# sourceMappingURL=app.css.map */
