html, body {
  font-family: 'PT Sans', sans-serif;
}

#wrapper {
  padding: 5px;
  max-width: 1440px;
  width: 100%;
  margin: 20px auto;
}

#banner {
  background: #fff;
  padding: 0;
  border-bottom: 2px solid #E24242;
}

#banner #logoSite img {
  max-width: 120px;
}

#banner ul {
  list-style: none;
}

#banner ul li .caret {
  margin-left: 8px;
}

#banner .banner-right {
  text-align: right;
}

#banner .banner-right .container-fluid {
  height: 100%;
  padding: 0;
}

#banner .banner-right .container-fluid .row {
  height: 100%;
  padding-bottom: 1.5rem;
}

#banner .btn-contact {
  margin-left: 2rem;
  padding: 4px 30px 5px;
}

.content-login {
  padding: 7rem 0 4rem;
}

.content-login #pvu {
  color: #494949;
}

#cardLogin {
  width: 26rem;
  border: 1px solid #297D3E;
  border-radius: .75rem;
}

#cardLogin .card-header {
  background: #FC3838;
  color: #fff;
}

#cardLogin .card-header:first-child {
  border-radius: calc(.75rem - 1px) calc(.75rem - 1px) 0 0;
  padding: .5rem;
}

.reset-password .card,
.no-season .card {
  border: 1px solid #297D3E;
  border-radius: .75rem;
}

.reset-password .card .card-header,
.no-season .card .card-header {
  background: #FC3838;
  color: #fff;
}

.reset-password .card .card-header:first-child,
.no-season .card .card-header:first-child {
  border-radius: calc(.75rem - 1px) calc(.75rem - 1px) 0 0;
  padding: .5rem;
}

#espace_equipe .dropdown-equipe .btn {
  font-weight: bold;
}

#espace_equipe .dropdown-equipe a {
  font-size: 1.2rem;
}

#espace_equipe .equipe-profil {
  margin-top: 1.6rem;
}

#espace_equipe .equipe-profil h4 {
  display: inline-block;
  margin-left: 1rem;
}

#espace_equipe .equipe-profil .team-name {
  margin-top: .9rem;
  font-weight: bold;
  color: #297D3E;
}

#espace_equipe .equipe-profil .btn-group {
  margin-left: .3rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
}

#espace_equipe .equipe-buttons {
  margin-top: .5rem;
  margin-left: 1rem;
}

#espace_equipe .equipe-buttons .btn {
  min-width: 10rem;
  margin-bottom: .25rem;
  font-size: .8rem;
}

#espace_equipe .equipe-buttons .btn.btn-dropdown-green {
  font-size: 1.2rem;
}

#espace_equipe .list-players .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#espace_equipe .list-players .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#espace_equipe .list-players .list-group-item {
  background: none;
  color: #000;
  border: 0;
  padding: 0;
}

#espace_equipe .list-players .list-group-item i.fa {
  margin-left: .5rem;
}

.prochainMatch,
.dernierMatch {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  margin-bottom: .5rem;
}

.prochainMatch tr td:nth-of-type(1),
.dernierMatch tr td:nth-of-type(1) {
  width: 8rem;
}

.prochainMatch tr td:nth-of-type(2),
.dernierMatch tr td:nth-of-type(2) {
  min-width: 6rem;
  text-align: right;
}

.prochainMatch tr td:nth-of-type(3),
.dernierMatch tr td:nth-of-type(3) {
  width: 2rem;
}

.prochainMatch tr td:nth-of-type(4),
.dernierMatch tr td:nth-of-type(4) {
  width: 1rem;
}

.prochainMatch tr td:nth-of-type(5),
.dernierMatch tr td:nth-of-type(5) {
  width: 2rem;
}

.prochainMatch tr td:last-child,
.dernierMatch tr td:last-child {
  width: 6rem;
  text-align: left;
}

.prochainMatch td,
.dernierMatch td {
  border: 0 solid black;
  padding-right: .5rem;
  padding-bottom: .25rem;
}

.prochainMatch .tdChampsButs input,
.dernierMatch .tdChampsButs input {
  width: 40px;
}

h1 {
  font-weight: bold;
  color: #E24242;
  font-size: 1.8rem;
}

.sportHidden {
  display: none;
}

.btn-orange,
.btn-green {
  width: auto;
  padding: 4px 10px 5px;
  color: #fff;
  display: inline-block;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:visited,
.btn-green:hover,
.btn-green:focus,
.btn-green:visited {
  color: #fff;
  text-decoration: none;
}

.btn-orange a,
.btn-green a {
  color: #fff;
}

.btn-orange a:hover, .btn-orange a:focus, .btn-orange a:visited,
.btn-green a:hover,
.btn-green a:focus,
.btn-green a:visited {
  color: #fff;
  text-decoration: none;
}

.btn-orange {
  background: #E24242;
}

.btn-green {
  background: #fff;
  color: #297D3E;
  border: 1px solid #297D3E;
}

.btn-green:hover, .btn-green.hover, .btn-green.active, .btn-green:active, .btn-green:focus, .btn-green:visited {
  color: #297D3E;
  background: #fff;
  box-shadow: inset 0px 0px 1px 1px #cbe4d1;
}

.btn {
  border-radius: 0;
  cursor: pointer;
  font-size: .9rem;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn-link {
  color: #FC3838;
}

.btn-dropdown {
  display: inline-block;
}

.btn-dropdown-orange {
  color: #E24242;
  border: 0;
}

.inline-block {
  display: inline-block;
}

.dropdown.dropdown-equipe {
  display: inline-block;
  margin-top: 0.3rem;
}

.dropdown.show > .btn-secondary.dropdown-toggle.btn-dropdown-green {
  color: #297D3E;
  background-color: #f1f1f1;
  border-color: #297D3E;
}

.dropdown .btn.btn-dropdown-green {
  color: #297D3E;
  border: 0;
}

.dropdown .btn.btn-dropdown-green.btn.btn-secondary:hover, .dropdown .btn.btn-dropdown-green.btn.btn-secondary.hover, .dropdown .btn.btn-dropdown-green.btn.btn-secondary.active, .dropdown .btn.btn-dropdown-green.btn.btn-secondary:active {
  color: #297D3E;
  background-color: #f1f1f1;
  border-color: #297D3E;
}

.dropdown .btn.btn-secondary:hover {
  color: #E24242;
  background-color: #f9efef;
  border-color: #E24242;
}

.dropdown .btn.btn-secondary.active, .dropdown .btn.btn-secondary:active {
  color: #E24242;
  background-color: #f9efef;
  border-color: #E24242;
}

.dropdown.show > .btn-secondary.dropdown-toggle {
  color: #E24242;
  background-color: #f9efef;
  border-color: #E24242;
}

.dropdown .dropdown-menu {
  font-size: .7rem;
  color: #E24242;
  border: 1px solid #E24242;
  border-radius: 0;
}

.dropdown .dropdown-menu .dropdown-item {
  padding: 6px 1.5rem;
  font-size: 0.9rem !important;
}

.color-green {
  color: #297D3E;
}

h2 {
  font-size: 1.5rem;
}

.header-saison {
  margin-top: 2.6rem;
  margin-bottom: 2rem;
}

.header-saison h1 img {
  max-width: 4rem;
}

.header-saison .buttons {
  margin-top: -.2rem;
  margin-left: 4rem;
}

.header-saison .buttons a, .header-saison .buttons button {
  margin-left: .25rem;
  margin-bottom: .25rem;
  font-size: .8rem;
}

.header-saison .buttons .btn-green {
  color: #E24242;
  border-color: #E24242;
}

.header-saison .buttons .btn-green:hover {
  box-shadow: none;
}

.header-saison .dropdown {
  display: inline-block;
  margin-left: .5rem;
  margin-top: .5rem;
}

.header-saison .dropdown .btn {
  font-size: .7rem;
  font-weight: bold;
  padding: .5rem;
  border: 0;
}

.header-saison .dropdown .btn.btn-secondary:hover {
  color: #E24242;
  background-color: #f9efef;
  border-color: #E24242;
}

.header-saison .dropdown .btn.btn-secondary.active, .header-saison .dropdown .btn.btn-secondary:active {
  color: #E24242;
  background-color: #f9efef;
  border-color: #E24242;
}

.header-saison .dropdown.show > .btn-secondary.dropdown-toggle {
  color: #E24242;
  background-color: #f9efef;
  border-color: #E24242;
}

.header-saison .dropdown .dropdown-menu {
  font-size: .7rem;
}

#menu {
  margin: 1.5rem 0 2.5rem;
}

#effectifsEquipes .media h5 {
  margin-left: 1rem;
}

#espace_ligue {
  height: 100%;
}

#espace_ligue .classement {
  width: 100%;
}

#espace_ligue .classement.table thead tr:nth-of-type(2) td {
  color: #297D3E;
}

#espace_ligue .classement.table thead tr th {
  border-color: transparent;
}

#espace_ligue .classement #motClassement {
  font-weight: bold;
}

#espace_ligue .classement #motsEntetes {
  color: darkred;
  font-weight: bold;
}

#espace_ligue .classement #motsEntetes td {
  padding: 15px 5px 15px 5px;
}

#espace_ligue .classement #trChaqueEquipe td {
  padding: 10px 5px 10px 5px;
  text-align: center;
  background: #fff;
}

#espace_ligue .classement #trChaqueEquipe #equipe1 {
  text-align: right;
}

#espace_ligue .classement #trChaqueEquipe #equipe2 {
  text-align: left;
}

#espace_ligue .classement #trChaqueEquipe:nth-child(even) td {
  padding: 10px 5px 10px 5px;
  text-align: center;
  background: #f07676;
}

#espace_ligue .classement #trChaqueEquipe:nth-child(even) #equipe1 {
  text-align: right;
}

#espace_ligue .classement #trChaqueEquipe:nth-child(even) #equipe2 {
  text-align: left;
}

#espace_ligue .calendrier {
  width: 100%;
}

#espace_ligue .calendrier.table thead th {
  border-color: transparent;
}

#espace_ligue .calendrier #lieu {
  color: darkred;
  font-weight: bold;
  padding: 15px 5px 15px 0px;
}

#espace_ligue .calendrier #trChaqueMatch td {
  padding: 10px 5px 10px 5px;
  background-color: #fff;
}

#espace_ligue .calendrier #trChaqueMatch td:nth-of-type(1) {
  width: 8rem;
}

#espace_ligue .calendrier #trChaqueMatch td:nth-of-type(2) {
  min-width: 6rem;
  text-align: right;
}

#espace_ligue .calendrier #trChaqueMatch td:nth-of-type(3) {
  width: 1rem;
}

#espace_ligue .calendrier #trChaqueMatch td:nth-of-type(4) {
  width: .5rem;
}

#espace_ligue .calendrier #trChaqueMatch td:nth-of-type(5) {
  width: 1rem;
}

#espace_ligue .calendrier #trChaqueMatch td:last-child {
  width: 6rem;
  text-align: left;
}

#espace_ligue .calendrier #trChaqueMatch #equipe1 {
  text-align: right;
}

#espace_ligue .calendrier #trChaqueMatch #equipe2 {
  text-align: left;
}

#espace_ligue .calendrier #trChaqueMatch:nth-child(even) td {
  padding: 10px 5px 10px 5px;
  background-color: #f1f1f1;
}

#espace_ligue .calendrier #trChaqueMatch:nth-child(even) #equipe1 {
  text-align: right;
}

#espace_ligue .calendrier #trChaqueMatch:nth-child(even) #equipe2 {
  text-align: left;
}

#espace_ligue #cadeaux {
  height: 100%;
  color: darkgreen;
  padding: 3% 3% 3% 3%;
  margin-top: 3%;
}

.modal-dialog {
  max-width: 700px !important;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#style-4::-webkit-scrollbar {
  width: 10px;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
  border-radius: 10px;
}

.reset-password,
.no-season {
  margin-top: 4rem;
}

.alert {
  width: 100%;
  border-radius: 0 0 .25rem .25rem;
}

.alert-dismissible .close {
  top: 0;
  right: 0;
  padding: 0;
}

.btn-group .btn-green {
  border: 0;
}

.table-small {
  font-size: .8rem;
}

.badge-lg {
  font-size: 100%;
}

.calendrier thead {
  display: inline-block;
  width: 100%;
}

.calendrier tbody {
  max-height: 25rem;
  display: inline-block;
  width: 100%;
  overflow: auto;
}

.calendrier tbody tr {
  width: 100%;
  display: inline-table;
}

/*# sourceMappingURL=v1.css.map */
