#banner {
  background-color: rgba(214, 33, 16, 0.9);
  border-bottom: 2px solid darkred;
  vertical-align: middle;
  padding-left: 2%;
  #spanFloatleft{
    float: left;
  }
  h3 {
    margin: 10px;
    text-shadow: 1px 1px 1px black;
    #titreNomLigue {
      color: white;
      text-decoration: none;
      font-family: Calibri;
    }
  }
  #saisonsDropdownMenu{
    list-style-type: none;
    margin: 0;
    vertical-align: bottom;
    padding-left:0;
    #titreSaisons {
      color: white;
      text-decoration: none;
      text-shadow: 1px 1px 1px black;
      font-size: small;
      vertical-align: bottom;
    }
    #dropdownMenu {
      color: black;
    }
    a{
      font-size: small;
    }
  }
  #logoutDropdownMenu {
    list-style-type: none;
    margin: 0;
    vertical-align: bottom;
    padding-left:0;
    #prenom_nom {
      color: white;
      text-decoration: none;
      text-shadow: 1px 1px 1px black;
      font-size: small;
      vertical-align: bottom;
    }
    #dropdownMenu {
      color: black;
    }
    a{
      font-size: small;
    }
    #bouton_profil_joueur{
      font-size: small;
      color: black;
      width: 100%;
      border: none;
      background-color: white;
      padding: 3px 20px 3px 20px;
      border-radius: 0;
      text-align: left;
    }
    #bouton_profil_joueur:hover{
      background-color: #f1f1f1;
    }
    ul{
      a:hover{
        background-color: #f1f1f1;
      }
    }
    #bouton_fermer_profil_joueur{
      background-color: #d2d2d2;
    }
  }
}