#content{
  font-size: small;
  button{
    color: black;
    font-size: small;
    border-radius: 0px;
    background-color: #d2d2d2;
    border-color: #c2c2c2;
    padding: 0.5% 1.5% 0.5% 1.5%;//haut droite bas gauche
  }

  //Espace ligue
  #espace_ligue{
    padding: 1% 0 0 4%;//haut droite bas gauche
    #menu {
      padding: 0 0 0 0;
      margin-left:-2%;
    }
    #classement {
      margin-top: 1%;
      padding-right: 2%;
      #ligneTitres{
        background-color: rgba(214, 33, 16, 0.7);
        color: black;
      }
      td {
        white-space: nowrap;
        text-align: center;
        border: 1px solid black;
        padding: 5px 5px 5px 5px;
      }
    }
    #calendrier{
      margin-top: 1%;
      padding : 0 2% 0 0;
      #trTitreCalendrier{
      }
      #titreCalendrier{
        font-weight: bold;
      }
      #trLieu{
        padding-left: 0;
      }
      #trChaqueMatch {
        td {
          border: 0 solid black;
          padding: 5px 5px 5px 5px;
        }
      }
    }
  }

  //Espace équipe
  #espace_equipe{
    border-left: 2px solid green;
    background-color: #f1f1f1;
    padding: 0.5% 0 0 1%;
    #nom_equipe{
      font-weight: bold;
    }
    #bouton_invitation{
      margin: 5% 10% 0 0;
      padding: 4% 10% 4% 10%;
    }
    label{
      font-weight: normal;
    }
    #bouton_submit{
      padding: 0.5% 1.5% 0.5% 1.5%;
    }
    #confirmation_invitation_amis_dans_equipe_envoyee{
      color: green;
    }
  }
}