#content{
  padding: 0px 10px 40px 40px;
  height: 100%;
  #classement{

    border: 0px;
  }
  #espace_equipe{
    height: 100%;
    margin-top: 10px;
    padding-left: 20px;
    background-color: whitesmoke;
    h4{
      font-weight: bold;
    }
  }
}