$state-success-text:            black;
$state-success-bg:              purple;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$couleur: blue;
#petittest {
  color: $couleur;
}

// Body
$body-bg: white;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: ;
$navbar-default-border: ;
$panel-default-border: ;
$panel-inner-border: ;

// Brands
$brand-primary: black;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
//$font-family-sans-serif: arial;
$font-size-base: 12px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: blue;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
